<h1>Welcome to TimeSuck</h1>
<h2>Type the number of minutes you want to waste:</h2>
<form action="/collections" method="post">
  <input type="text" name="minutes">
  <input type="submit" value="Submit">
</form>